/* Comments */

.product-comments {
  margin-top: 28px;
}

.comments_section {
  margin-bottom: 20px;
  margin-top: 10px;
}

.comments_section h3 {
  text-align: center;
  margin-bottom: 10px;
}

.comments-section {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 5px;
}

.user-comment {
  color: #777;
  font-size: 13px;
}

.commenter-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  resize: vertical;
}