.form-container {
  width: 400px;
  margin: 0 auto;
  background-color: #f7f4ef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h3 {
  color: #816f64;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cfbead;
  border-radius: 4px;
}

.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #816f64;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #6a5348;
}

link-here a {
  color: #6a5348;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-details {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.profile-field {
  text-align: left;
  margin-bottom: 20px;
}

.profile-field label {
  font-weight: bold;
}
