{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}

    <style>
        .new-listing-container {
            background-image: url('{% static "auctions/images/bck-righ-water.png" %}');
            background-size: cover;
            background-position: center;
            border-radius: 12px;
            min-height: 750px;
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        .current-image-thumbnail {
            max-width: 100px;
            max-height: 100px;
            margin: 5px;
            border-radius: 4px;
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .current-image-thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }

        .delete-image {
            position: absolute;
            top: 5px;
            right: 5px;
            background: red;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            padding: 0;
            width: 20px; 
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }

        #current-images {
            display: flex;
            flex-wrap: wrap;
        }
    </style>

    <div class="new-listing-container">
        <div class="form-container-wide">
            <h2>New listing</h2>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="description" placeholder="Description" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="starting_bid" placeholder="Starting bid" min="0">
                </div>
                <div class="form-group">
                    <select class="form-control" name="category">
                        <option value="" selected disabled>Select Category</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="images">Upload a main image:</label>
                    <input type="file" id="id_images" name="images" multiple class="form-control">
                </div>
                
                <input class="btn btn-primary" type="submit" value="Create">
            </form>
        </div>
    </div>

{% endblock %}

