/* Create/Edit pages */

.upload-button {
  background-color: #cfbead;
  width: 50%;
  color: white;
  border: none;
  padding: 3px 8px;
  margin: 12px 0 32px 0;
  float: right;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.upload-button:hover {
  background-color: #816f64;
  color: #f7f4ef;
}

/* Current images list */
.current-image-thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.current-image-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.delete-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#current-images {
  display: flex;
  flex-wrap: wrap;
}