:root {
     --white: #FFFFFF;
     --black: #0D0D0D;
     --blue: #267FBE;
     --yellow: #FCC340;
     --red: #E23B38;
     --green: #5BA051;
     --orange: #EC6C3D;
     --pinl: #F6A5AA;
     --light-grey: #F7F4EF;
     --light-brown: #CFBEAD;
     --dark-brown: #816F64;
}


