body {
    padding: 10px;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

footer {
    background-color: #FFFFFF;
    padding: 10px 0;
}

footer a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    text-decoration-line: none;
}

.text-center {
    background-color: #F7F4EF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.logo-left {
    margin-bottom: 5px;
    margin-right: 10px;
}

.logo-right {
    margin-bottom: 5px;
    margin-left: 10px;
}

.button {
    background-color: #CFBEAD;
    color: white;
    border: none;
    padding: 3px 8px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #816F64;
        color: #F7F4EF;
    }
}

/* Create/Edit pages css */
.upload-button {
    background-color: #CFBEAD;
    width: 50%;
    color: white;
    border: none;
    padding: 3px 8px;
    margin: 12px 0 32px 0;
    float: right;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    &:hover {
        background-color: #816F64;
        color: #F7F4EF;
        border-radius: none;
    }
}

.current-image-thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.current-image-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.delete-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#current-images {
    display: flex;
    flex-wrap: wrap;
}

/* Hamburger menu icon color */
.navbar-toggler-icon {
    color: #CFBEAD;
}

/* INDEX CSS */

.listing-row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.no-listing-container {
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #816F64;
    background-color: #F7F4EF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; 
}

.listing-container {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #F7F4EF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) { 
    .listing-container {
        width: calc(50% - 20px);
    }
}

.listing-container img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: auto;
}

/* FILTERS CSS */
.filter-nav {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    margin-top: 20px;
    /* -ms-overflow-style: none; IE and Edge */
    scrollbar-width: 1px; /* Firefox */
}

.filters-nav::-webkit-scrollbar {
    display: none;
}

.filters-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
}
  
.filters-container li {
    display: inline-block;
    margin-right: 12px;
}
  
.category-filter {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 15px;
    line-height: 23px;
    padding: 0px 12px 10px 12px;
    white-space: nowrap; 
}
  
.category-filter:focus,
.category-filter:active,
.category-filter.active {
    border-bottom: 2px solid #816f64;
    outline: none;
    color: #816f64;
}
  
.filters-container li::marker {
    display: none;
}

.tabbed-nav {
    ul.unstyled > li {
        margin-right: 0;
    }
}

/* LISTING PAGE CSS */
.left-side-container {
    .listing-title {
        font-size: 25px;
        margin-top: 10px;
        a {
            color: #000;
        }
    }

    .listing-description {
        font-size: 15px;
    }

    .listing-detail {
        font-size: 15px;
    }

    .listing_information h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .listing-details {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .listing-details ul {
        list-style: none;
        padding: 0;
    }
    
    .listing-details ul li {
        margin-bottom: 5px;
        font-size: 14px;
    }
}

.listing-information {
    margin: 0 auto;
    width: 80%;
}

.listing-title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    a {
        color: #000;
    }
}

.listing-description {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /* For older WebKit browsers */
    display: -webkit-flex; /* For Safari 6.1+ */
    display: -ms-flexbox; /* For IE 10 */
    display: flex;
    -webkit-box-orient: vertical; /* For older WebKit browsers */
    -webkit-box-direction: normal; /* For older WebKit browsers */
    -webkit-flex-direction: column; /* For Safari 6.1+ */
    -ms-flex-direction: column; /* For IE 10 */
    flex-direction: column;
    max-height: 4.5em;
    line-height: 1.5em;
}

.listing-description::before {
    content: ""; /* Create pseudo-element to fill the space */
    display: block;
    height: 100%; /* Ensure it takes up full height */
}

.listing-description::after {
    content: "..."; /* Ellipsis */
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 20px; /* Ensure enough space for the ellipsis */
    background: linear-gradient(to right, transparent, white 70%);
}


.listing-price {
    font-size: 15px;
    margin-top: 4px;
}

.carousel {
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    display: block;
    margin: auto;
    height: auto;
    border-radius: 8px;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
    color: #CFBEAD;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    &:hover {
        color: #816F64;
    }
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.comments_section {
    margin-bottom: 20px;
    margin-top: 50px;
}

.comments_section h3 {
    text-align: center;
    margin-bottom: 10px;
}

.comments-section {
    border-bottom: 1px solid #CFBEAD;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 5px;
}

.user-comment {
    color: #816F64;
    font-size: 13px;
}

.commenter-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CFBEAD;
    border-radius: 4px;
    resize: vertical;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #816F64;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.button:hover {
    background-color: #6C5B50;
}

/* Watchlist button */
.small-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-button form {
    display: inline;
}

.small-button input[type="submit"] {
    background-color: #816F64;
    color: white;
    border: none;
    padding: 3px 8px; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.small-button input[type="submit"]:hover {
    background-color: #CFBEAD;
}

.small-button input[type="submit"].remove {
    background-color: #816F64;
}

/* Bid form */
.bid_form {
    margin-top: 20px;
}

.bid_form .form-group {
    margin-bottom: 10px;
}

.bid_form input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* Close auction button */
.close_auction_button {
    margin-top: 20px;
}

.close_auction_button input[type="submit"] {
    background-color: #6C0345;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close_auction_button input[type="submit"]:hover {
    background-color: #DC6B19;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    background-color: #F7F4EF; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.form-container h3 {
    color: #816F64;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CFBEAD;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #816F64;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #6A5348;
}

/* CREATE LISTING FORM CSS */

.form-container-wide {
    width: 400px;
    margin: 0 auto;
    background-color: #F7F4EF;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container-wide h2 {
    color: #816F64;
}

.form-container-wide input[type="text"],
.form-container-wide input[type="number"],
.form-container-wide select,
.form-container-wide textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CFBEAD;
    border-radius: 4px;
}

.form-container-wide input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #816F64;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container-wide input[type="submit"]:hover {
    background-color: #6A5348;
}

/* lOGIN / REGISTER */

.link-here a{
    color: #6A5348;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-details {
    width: 100%; 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.profile-field {
    text-align: left;
    margin-bottom: 20px; 
}

.profile-field label {
    font-weight: bold;
}

/* Listinng Page Image */
.image-gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-image-container {
    flex: 1;
    text-align: center;
}

.main-image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.thumbnail.active, .thumbnail:hover {
    border-color: #816F64;
}
